<div id="home">

</div>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header col s12 light">Welcome!</h1>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img class="drunk" src="/assets/happy.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><img src="/assets/animal.jpg"/></h2>
            <h5 class="center">The Bride</h5>

            <p class="center light">
              <strong>Kafah Bachari</strong>
              <br><strong>Mother of the Bride</strong>
              <br>Nahid Jam
              <br><strong>Matron of Honor</strong>
              <br>Sheida Asgari
              <br><strong>Maid of Honor</strong>
              <br>Shadi Jam
              <br><strong>Bridesmaids</strong>
              <br>Yalda Jam
              <br>Mariam Afshar
              <br>Aimee Bachari
              <br>Katie Haggerty
              <br>Anna Borley
              <br><strong>BossLady in Charge of Flowers</strong>
              <br> Liliana Rose Bachari<br></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><img src="/assets/animal.jpg"/></h2>
            <h5 class="center">The Officiants</h5>

            <p class="center light">Maida Asofsky and Muffie Moroney<br></p>
            <h2 class="center brown-text"><img src="/assets/animal.jpg"/></h2>
            <h5 class="center">The Wingmen</h5>
            <p class="center light">Haitham Bachari Manna
              <br>Laith Bachari Manna</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><img src="/assets/animal.jpg"/></h2>
            <h5 class="center">The Groom</h5>

            <p class="center light">
              <strong>Daniel Christopher Haggerty</strong>
            <br><strong>Sister of the Groom</strong>
            <br>Francis Borley
            <br><strong>Best Man</strong>
            <br>Michael Leadbetter
            <br><strong>Groomsmen</strong>
            <br>David Ridely
            <br>Eamon Bachari
            <br>Jim Arnold
            <br>Spike Johnson
            <br>James Haggerty
            <br><strong>Ring Security</strong>
            <br>Rocco Sharif Bachari<br></p></p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h3 class="header col s12 light">The Wedding</h3><br><h4>Cockrell Butterfly Center</h4><h5 class="link">5555 Hermann Park Drive<br>Houston, TX 77030<br></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img class="happy" src="/assets/drunk.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Our Story</h4>
          <p class="left-align light">Due to the fact that Shadi Jam is the bestestestestest cousin on the planet (EVER!), Daniel Haggerty and Kafah Bachari had the opportunity to meet one starry night. We all approved of Dan, we were just worried about Kafah being just sane enough for this to work out.</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h4 class="header col s12 light">Cocktails at 6:00 PM<br>Reception at 6:30 PM<br>Dancing until midnight!</h4>
        </div>
      </div>
    </div>
    <div class="parallax"><img class="all" src="/assets/all.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Don't forget to RSVP!</h5>
          <p class="grey-text text-lighten-4"></p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Wedding</h5>
          <ul>
            <li class="rsvp">  <%= link_to 'RSVP', new_response_path %> </li>
            <li><a class="white-text" href="https://secure.williams-sonoma.com/registry/6dsfxrtl8k/registry-list.html">Registry</a></li>
            <li><a href="http://www.hmns.org/cockrell-butterfly-center/">The Venue</a></li>
            <li><a href="https://www.google.com/maps/place/Cockrell+Butterfly+Center/@29.7216034,-95.3914501,17z/data=!3m1!4b1!4m5!3m4!1s0x8640bf810df2e31d:0xc85baafa46f68dfe!8m2!3d29.7221913!4d-95.3902814">Parking</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Travel</h5>
          <ul>
            <li><a class="white-text" href="http://travel.usnews.com/Hotels/Houston_TX/">Accommodation</a></li>
            <li><a class="white-text" href="http://houmuse.org/">Museums</a></li>
            <li><a class="white-text" href="https://www.thrillist.com/houston">Eat and Drink</a></li>
            <li><a class="white-text" href="https://www.google.com/maps/place/William+P.+Hobby+International+Airport/@29.6529506,-95.2766507,15z/data=!4m2!3m1!1s0x0:0x96088339def49859?sa=X&ved=0ahUKEwiOgZO0xtnRAhXI4CYKHZfrD9gQ_BIIfjAK">Hobby Airport (Close)</p></a></li>
            <li><a class="white-text" href="https://www.google.com/maps/place/George+Bush+Intercontinental+Airport+(IAH)/@29.9902199,-95.3367827,15z/data=!4m5!3m4!1s0x0:0x9cc6b4fcc8c0c231!8m2!3d29.9902199!4d-95.3367827">IAH (Far)</p></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by Shadi Jam - bestestest cousin everestestestest...in case you couldn't tell.
      </div>
    </div>
  </footer>
</div>
