<%= form_for @response do |f| %>

  <% if @response.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@response.errors.count, "error") %> prohibited
        this RSVP from being saved:
      </h2>
      <ul>
        <% @response.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
     <form class="col s12">
       <div class="row">
         <div class="input-field col s12">
           <input placeholder="" id="full_name" type="text" class="validate">
           <label for="full_name">Full or Family Name</label>
         </div>
       </div>
      <div class="row">
       <div class="col s12">
         <select>
           <option value="0" disabled selected>Will you attend?</option>
           <option value="1">Yes, we'll be there!</option>
           <option value="2">Unfortunately we are unable to attend.</option>
         </select>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="" id="number_of_attendees" type="number" class="validate">
          <label for="number_of_attendees">Number of attendees (Please input '0' if you are unable to attend)</label>
        </div>
      </div>
       <div class="row">
         <div class="input-field col s12">
           <input placeholder="" id="food_allergies" type="text" class="validate">
           <label for="food_allergies">Any food allergies we should know about?</label>
         </div>
       </div>
       <div class="row">
         <div class="input-field col s12">
           <input placeholder="" id="song_title" type="text" class="validate">
           <label for="song_title">Please name a song that will get you on the dance floor!</label>
         </div>
       </div>
       <div class="row">
         <div class="input-field col s12">
           <input placeholder="" id="singer" type="text" class="validate">
           <label for="singer">The Artist/Band/Singer name goes here!</label>
         </div>
       </div>
       <div class="row">
         <div class="input-field col s12">
           <input placeholder="" id="comment" type="text" class="validate">
           <label for="comment">Feel free to leave a message for the happy couple!</label>
         </div>
       </div>

      <button class="btn waves-effect waves-light" type="submit" name="action">RSVP
        <i class="material-icons right">send</i>
      </button>

     </form>
   </div>


  <% end %>
