
<h1 class="header col s12 light">NEW RSVP</h1>

<p class="children">Due to restrictions in our event space, we kindly request that children do not attend. <br>Please accept our sincere apologies.</p>

<%= render 'form' %>
