/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 nav {
   height: 100px;
   background-color: #CA054D;
 }

div.side-menu {
  position: relative;
}
div.side-menu img {
  position: absolute;
}

ul#mobile-demo.side-nav li a {
  position: relative;
}

 a.brand-logo img {
   width: 120px;
   height: 120px;
   margin-left: 160px;
 }

 p {
   line-height: 2rem;
 }

 h1.header.col.s12.light {
   padding-left: 20px;
 }

 table.bordered.centered.responsive-table.striped {
   margin-left: 40px;
   margin-right: 40px;
   vertical-align: middle;
 }

 ul.right.hide-on-med-and-down a {
   vertical-align: middle;
 }

 a.button-collapse img {
   max-width: 120px;
   max-height: 120px;
   padding-top: 10px;
   padding-right: 20px;
 }

 button.btn.waves-effect.waves-light {
   margin-left: 30px;
   margin-bottom: 30px;
   background-color: #CA054D;
 }

button.btn.waves-effect.waves-light a {
  color: white;
}

 .parallax-container {
   min-height: 380px;
   line-height: 0;
   height: auto;
   color: rgba(255,255,255,.9);
 }
   .parallax-container .section {
     width: 100%;
   }

 div#index-banner.parallax-container {
   height: 500px;
   width: 90%;
   margin-left: auto;
   margin-right: auto;
 }

 div.parallax img {
   padding-bottom: 70px;
 }

 div.section.no-pad-bot {
   color: white;
 }

 div.parallax img {
   width: 600px;
 }

 div.icon-block img {
   max-width: 120px;
   max-height: 120px;
 }

 li.rsvp a {
   color: white;
 }

 div.show {
   margin-left: 40px;
 }
 @media only screen and (max-width : 1024px) {
   .parallax-container .section {
     position: absolute;
     top: 40%;
   }
   #index-banner .section {
     top: 10%;
   }
 }

 @media only screen and (max-width : 600px) {
   #index-banner .section {
     top: 0;
   }
 }

 .icon-block {
   padding: 0 15px;
 }
 .icon-block .material-icons {
   font-size: inherit;
 }

 footer.page-footer {
   margin: 0;
 }
