/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav {
  height: 100px;
  background-color: #CA054D;
}

p {
  line-height: 2rem;
}

a.button-collapse img {
  max-width: 120px;
  max-height: 120px;
  padding-top: 10px;
  padding-right: 20px;
}

button.btn.waves-effect.waves-light {
  margin-left: 30px;
  margin-bottom: 30px;
  background-color: #CA054D;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

div#index-banner.parallax-container {
  height: 500px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

div.section.no-pad-bot {
  color: white;
}

div.parallax img {
  width: 600px;
}

div.icon-block img {
  max-width: 120px;
  max-height: 120px;
}

li.rsvp a {
  color: white;
}

@media only screen and (max-width : 1024px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
